<!-- <div class="form-group"> -->
    <div class="row">
    <div class="col-md-2">
	   	<%= f.select :label, ['Work', 'Personal', 'Others'], style:"width: 100%" %>
	</div>

	<div class="col-md-6">
    <%= f.text_field :email,class: "form-control", style:"margin-bottom: 15px" %>
    </div>
    <%= f.hidden_field :_destroy %>
    <% if $counta != 1%>
        <%= link_to 'Delete', '#', class: 'remove_record2',  id: 'deleteradd'  %>
    <% end %>  
    </div>  
<!-- </div>   -->