 <div class="row">
    <div class="col-md-2">
	   	<%= f.select :label, ['Work', 'Personal', 'Others'] %>
	</div>

	<div class="col-xs-6">
    <%= f.text_field :phone, class: "form-control", style:"margin-bottom: 15px" %>
    </div>
    <%= f.hidden_field :_destroy %>
    <% if $counta != 1%>
        <%= link_to 'Delete', '#', class: 'remove_record',  id: 'deleter'  %>
    <% end %>  
    </div>  