<div class="panel panel-default custom-panel-position" style= "width:700px;">
  <div class="panel-heading text-center">
    <h3><strong><span class="glyphicon glyphicon-plus"></span> Add Contact</strong></h3>
  </div> 

<%= render 'form' %>
</div>